<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Concrete</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <!-- Our CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!--jQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function magnify(imgID, zoom) {
            var img, glass, w, h, bw;
            img = document.getElementById(imgID);
            /*create magnifier glass:*/
            glass = document.createElement("DIV");
            glass.setAttribute("class", "img-magnifier-glass");
            /*insert magnifier glass:*/
            img.parentElement.insertBefore(glass, img);
            /*set background properties for the magnifier glass:*/
            glass.style.backgroundImage = "url('" + img.src + "')";
            glass.style.backgroundRepeat = "no-repeat";
            glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
            bw = 3;
            w = glass.offsetWidth / 2;
            h = glass.offsetHeight / 2;
            /*execute a function when someone moves the magnifier glass over the image:*/
            glass.addEventListener("mousemove", moveMagnifier);
            img.addEventListener("mousemove", moveMagnifier);
            /*and also for touch screens:*/
            glass.addEventListener("touchmove", moveMagnifier);
            img.addEventListener("touchmove", moveMagnifier);
            function moveMagnifier(e) {
                var pos, x, y;
                /*prevent any other actions that may occur when moving over the image*/
                e.preventDefault();
                /*get the cursor's x and y positions:*/
                pos = getCursorPos(e);
                x = pos.x;
                y = pos.y;
                /*prevent the magnifier glass from being positioned outside the image:*/
                if (x > img.width - (w / zoom)) { x = img.width - (w / zoom); }
                if (x < w / zoom) { x = w / zoom; }
                if (y > img.height - (h / zoom)) { y = img.height - (h / zoom); }
                if (y < h / zoom) { y = h / zoom; }
                /*set the position of the magnifier glass:*/
                glass.style.left = (x - w) + "px";
                glass.style.top = (y - h) + "px";
                /*display what the magnifier glass "sees":*/
                glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
            }
            function getCursorPos(e) {
                var a, x = 0, y = 0;
                e = e || window.event;
                /*get the x and y positions of the image:*/
                a = img.getBoundingClientRect();
                /*calculate the cursor's x and y coordinates, relative to the image:*/
                x = e.pageX - a.left;
                y = e.pageY - a.top;
                /*consider any page scrolling:*/
                x = x - window.pageXOffset;
                y = y - window.pageYOffset;
                return { x: x, y: y };
            }
        }
    </script>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">

                    </a>
                </div>
            </div>
        </nav>


        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="navbar-nav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="/" target="_self"
                            style="font-size:30px;padding:10px">Home</a>
                        <a class="nav-item nav-link" href="/table" target="_self"
                            style="font-size:30px;padding:10px">Data Analysis</a>
                    </div>
                </div>

            </nav>
            <div class="row">
                <div class="col-md-4">
                    <h5>Concrete Facts:</h5>
                    <a href="https://ekaconcrete.com/10-impressive-facts-concrete/" target="_blank"
                        style='text-decoration: none;color:white;'>
                        <p>Concrete is used more than any other material in the world.

                        </p>
                        <p>After around four weeks, concrete has reached 90% of its final strength.<br> However, it
                            continues
                            to strengthen for decades afterwards. <br>Some bacteria also help to strengthen
                            concrete!<br>
                        </p>
                    </a>
                </div>
                <div class="col-md-4" style="text-align: right;margin-top: 10px;width: 250px;">
                    <p> The Pantheon is a massive concrete building built in Rome in the 2nd century AD. For
                        nearly
                        2,000 years the Pantheon has stood, weathering earthquakes, Barbarian invasions and the
                        persistent onslaught of Mother Nature.

                    </p>

                </div>
                <!-- </div>
            <div class="row"> -->
                <!-- <div class="col-md-6">
                    <div style="float:right;width: 200px;height:max-content;">
                        <p style="text-align:right;"> 
                        </p>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div>
                        <figure>

                            <a href="https://www.smithsonianmag.com/smart-news/scientific-reason-why-pantheon-hasnt-crumbled-180953627/"
                                target="_blank">


                                <img src="static/image/InsidePanethon.jpg" alt="InsidePanethon" width="400" height="400"
                                    style="box-shadow: 10px 10px 5px black;border-radius:25px;">
                                <!-- <figcaption style="text-align: left;">The Pantheon is
                                a massive concrete building built in Rome in the 2nd century AD. For
                                nearly
                                2,000 years the Pantheon has stood, weathering earthquakes, Barbarian invasions and the
                                persistent onslaught of Mother Nature.
                                (https://www.smithsonianmag.com/smart-news/scientific-reason-why-pantheon-hasnt-crumbled-180953627/).
                            </figcaption> -->
                            </a>
                        </figure>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin:10px;box-shadow: 5px 5px 5px black;border-radius:5px;">
                    <h4>Data analysis was done using the Python programming language and its libraries: scikit_learn,
                        pandas, keras, numpy, and matplotlib.
                        From the Figure 1.1, we can see that the most important component contributing to the
                        compressive strength of concrete is water, cement, and age.
                        We were able to achieve an accuracy score of 89% with a mean squared error (MSE) of 27.9 and
                        mean absolute error (MAE) of 3.44. These are the best results when
                        predicting the compressive strength of concrete using a Random Forest Regression (RFR) Machine
                        Learning Model compare to other models tested, such as: Artifical Neural Network (ANN),
                        Linear Regression + Polynomial Features (LR+PF), Support Vector Regression (SVR). The SVR model
                        yielded an accuracy of 56%, LR+PF with 84%, and ANN with a MSE of 39.3 and a MAE of 4.98.
                        The best parameters for our RFR model were determined using GridSearchCV library function that is
                        a member of sklearn's model_selection package.
                    </h4>
                </div>

            </div>

            <div class="row">
                <figure>
                    <div class='col-md-6'
                        style="text-align: center;box-shadow: 5px 5px 5px 5px black;border-radius:5px;margin-right: 100px;width:210px;margin:20px;margin-left:200px;">
                        {{rfr_stats_table|safe}}

                        {{best_params_table|safe}}

                        {{best_features_table|safe}}



                        <figcaption style="text-align: center;">
                            <p>Figure 1.1</p>
                        </figcaption>
                </figure>


                <div class="col-md-6" style="float:right;">
                    <figure>
                        <div class='img-magnifier-container' style="margin: 10px;float:right;">
                            <img class="img-responsive" id="myimage" src="static\image\scatter_matrix_sm.png"
                                alt="scatter_matrix_plot"
                                style="background-color: white;box-shadow: 5px 5px 5px 5px black;border-radius:15px"
                                width="600" height="600">
                        </div>
                        <figcaption style="text-align: center;">
                            <p>Figure 1.2</p>
                        </figcaption>
                    </figure>
                </div>
            </div>

        </div>
    </div>
    </div>

    </div>

    <script>
        /* Initiate Magnify Function
        with the id of the image, and the strength of the magnifier glass:*/
        magnify("myimage", 2);

    </script>
</body>

</html>